{% extends "base.html" %}

{% block content %}
  <section class="vh-1000" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3" style="width: 120%;">
            <div class="card-body p-4">

              <h4 class="text-center my-3 pb-3">
                To Do List
                <a href="{% url 'to_do:to-do-create' %}" class="btn btn-outline-secondary active, add"
                   style="margin-left: 50px">
                  Add task
                </a>
              </h4>

              {% for do in todo_list %}
                <table class="table mb-4">
                  <tr>
                    <td>
                      <strong>{{ do.content }}</strong>
                      <span style="color: {% if do.is_done %}green{% else %}red{% endif %}">
                        {% if do.is_done %}Done{% else %}Not done{% endif %}
                      </span>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-success ms-1" style="float: right">Complete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{% url 'to_do:to-do-update' pk=do.id %}" class="btn btn-sm btn-outline-secondary">
                        Update task
                      </a>
                      <a href="{% url 'to_do:to-do-delete' pk=do.id %}" class="btn btn-sm btn-outline-danger">
                        Delete task
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Created: {{ do.created }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Tags: {{ do.tag }}
                    </td>
                  </tr>
                </table>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
