{% load query_transform %}
{% block pagination %}

  {% if is_paginated %}
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
      <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
          <li class="page-item {% if not page_obj.has_previous %}disabled {% endif %}">
            <a href="{% if page_obj.has_previous %}?{% query_transform request page=page_obj.previous_page_number %}
{% else %}#{% endif %}"
               class="page-link"><span aria-hidden="true">&laquo;</span></a>
          </li>
          <li class="page-item {% if not page_obj.has_previous %}disabled {% endif %}">
            <a href="{% if page_obj.has_previous %}?{% query_transform request page=page_obj.previous_page_number %}
{% else %}#{% endif %}"
               class="page-link">
              {% if page_obj.has_previous %}{{ page_obj.previous_page_number }} {% else %}1 {% endif %}
            </a>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#" style="">Current {{ page_obj.number }}</a></li>
          <li class="page-item {% if not page_obj.has_next %}disabled {% endif %}">
            <a href="{% if page_obj.has_next %}?{% query_transform request page=page_obj.next_page_number %}
{% else %}#{% endif %}"
               class="page-link">
              {% if page_obj.has_next %}{{ page_obj.next_page_number }} {% else %}{{ paginator.num_pages }} {% endif %}
            </a>
          </li>
          <li class="page-item {% if not page_obj.has_next %}disabled {% endif %}">
            <a href="{% if page_obj.has_next %}?{% query_transform request page=page_obj.next_page_number %}
{% else %}#{% endif %}"
               class="page-link"><span aria-hidden="true">&raquo;</span></a>
          </li>
        </ul>
      </nav>
      <div class="fw-normal small mt-4 mt-lg-0">
        Page <b>{{ page_obj.number }}</b> out of <b>{{ paginator.num_pages }}</b> existing
      </div>
    </div>
  {% endif %}
{% endblock %}
